.body{
    
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-content: space-around;
}
.footer_login{
    height: 100px;
    background-color: orangered;
    display: flex;
    margin-top: 0px;
}